/* @import url('https://www.dafont.com/zenzai-itacha.font'); */



.border-gradient {
    width: 100%;
    height: 100%;
    border-image: linear-gradient(to right, transparent, red, transparent) 1;
    border-image-slice: 1;
    z-index: -1;
}