@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'MainFont';
    src: url('/aAsianHiro.ttf') format('truetype');
}

@font-face {
    font-family: 'TitleFont';
    src: url('/YamatoJapan.otf') format('opentype');
}

@font-face {
    font-family: 'MenuFont';
    src: url('/ONIGASHIMA.otf') format('opentype');
}

@font-face {
    font-family: 'SectionFont';
    src: url('/Hirokawa.otf') format('opentype');
}

.section-title {
    font-family: 'SectionFont', sans-serif;
}

.site-title {
    font-family: 'TitleFont', sans-serif;
}

.menu-title {
    font-family: 'MenuFont', sans-serif;
}

.main-font {
    font-family: 'MainFont', sans-serif;
    font-size: x-large;
}